[submodule "descore"]
	path = descore
	url = git@github.com:dexset/descore.git
[submodule "des"]
	path = des
	url = git@github.com:dexset/des.git
[submodule "mobctrl"]
	path = mobctrl
	url = git@github.com:deviator/mobctrl.git
